@import "tailwindcss";
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;

}
p{
  color: #9C9BA1;

}
h1,h2,h3,h4{
  color:#2E3049
}
html, body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background: #e7e7e7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
